body {
    margin: 0;
    height: 100%;
    background-color: rgb(188, 253, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Azeret Mono', monospace;
}

canvas {
    border-style: none;
    border-color: rgba(188, 253, 255, 0.575);;
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(188, 253, 255);
    margin: 0;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 5px 20px;
}

#menu .leftM {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#menu .leftM a {
   padding-right: 10px;
   text-decoration: none;
}

#menu .rightM {
    display: flex;
    justify-content: flex-end;
}

#menu h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(102, 224, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

#menu button {
    height: 40px;
    width: 200px;
    font-family: 'Azeret Mono', monospace;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(188, 253, 255);
    background: rgba(0, 204, 255, 0.74);
    border: 3px solid rgb(0, 204, 255);
    border-radius: 50px;
    cursor: pointer;
    margin: 0 10px 0 30px;
}

#menu button:hover {
    background: rgb(0, 204, 255);
  }

.instructions {
    width: 410px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-left: 30px;
}

.instructions p {
    color: rgb(102, 224, 255);
    font-family: 'Azeret Mono', monospace;
    font-weight: 100;
    font-size: 15px;
    margin: 0;
}

.dividerContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 0px 0;
}

.divider {
    border: 1px rgb(102, 224, 255) solid;
    width: 1300px;
}

#canvas-board {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('../images/test_background.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas-board .left{
    position: relative;
    top: 60px;
    left: 15px;
}

#canvas-board .right{
    position: relative;
    top: 35px;
    right: 15px;
}

footer {
    height: 140px;
    width: 100%;
    background-color: brown;
    color: #FFF;
    display: flex;
    align-items: flex-end;
}

footer p {
    margin: 0 0 15px 20px;
    font-weight: 100;
    font-size: 13px;
}

#invis-gameover {
    position: absolute;
    top: 350px;
    left: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#invis-gameover div {
    flex-direction: column;
}

#invis-gameover h1 {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 900;
    color: coral;
    margin-bottom: 0;
    
}


#invis-gameover p {
    font-size: 20px;
    font-weight: 100;
    color: #000;
}